@model Redmine.Net.Api.Types.Issue

<h2 class="text-center">@Model.Subject</h2>
<hr/>
<section class="wrapper">
    <div class="container">
        <div class="detail bg-light mb-3" style="box-shadow: 0 0 10px 2px @GetStatusColor();">
            <div class="card-body">
                <dl class="row">
                    <dt class="col-sm-3 col-5">ID:</dt>
                    <dd class="col-sm-3 col-7">@Model.Id.ToString()</dd>
                    
                    <dt class="col-sm-3 col-5">Создано:</dt>
                    <dd class="col-sm-3 col-7 text-truncate">@Model.CreatedOn.ToString()</dd>

                    <dt class="col-sm-3 col-5">Приоритет:</dt>
                    <dd class="col-sm-3 col-7">@Model.Priority.Name</dd>

                    <dt class="col-sm-3 col-5">Телефон:</dt>
                    <dd class="col-sm-3 col-7"><a href="tel:@GetPhoneNumber()">@GetPhoneNumber()</a></dd>

                    <dt class="col-sm-3 col-5">Местоположение:</dt>
                    <dd class="col-sm-3 col-7">@GetLocation()</dd>
                </dl>

                @Html.Raw(Model.Description)
            </div>
        </div>
        <div class="take-issue-btn" style="" align="center">
            <form action="@Url.Action("TakeIssue", "Issues", new { id = Model.Id })" method="post">
                <button type="submit" class="custom-button">В работу</button>
            </form>
        </div>
    </div>
</section>

@foreach (var t in Model.Journals)
{
    @if (!string.IsNullOrEmpty(t.Notes))
    {
        <blockquote class="speech-bubble">
          <p>@Html.Raw(t.Notes)</p>
            <cite>@t.User.Name / @t.CreatedOn.ToString()</cite>
        </blockquote>
    }
}
<br/><br/>

@functions{

    private string GetStatusColor()
    {
        var color = Model.Priority.Id switch
        {
            1 => "#2ad667",
            2 => "#3a63d9",
            3 => "#ff333",
            4 => "#b03a3e",
            _ => "#000000"
            };
        return color;
    }
    
    private string GetPhoneNumber()
    {
        var phone = "Не указан";
        foreach (var t in Model.CustomFields)
        {
            if (!t.Name.Equals("Телефон для связи")) continue;
            phone = t.Values[0].Info;
            break;
        }
        
        return phone;
    }
    private string GetLocation()
    {
        var location = "Не указано";
        foreach (var t in Model.CustomFields)
        {
            if (!t.Name.Equals("Местоположение")) continue;
            location = t.Values[0].Info;
            break;
        }
        
        return location;
    }
}

