@using System.Collections.Immutable
@model Redmine.Net.Api.Types.Issue

<h1 align="center">Зоявка #@Model.Id</h1>
<br/>
<section class="wrapper">
    <div class="container">
        <div class="detail bg-light mb-3">
            <div class="card-body">
                <p><strong>Создано: </strong>@Model.CreatedOn.ToString()</p>
                <p><strong>Заявитель: </strong>@Model.Author.Name</p>
                <p class="card-text text-wrap"><strong>Тема: </strong>@Model.Subject</p>
                <p><strong>Телефон: </strong>@GetPhoneNumber()</p>
                <p><strong>Местоположение: </strong>@GetLocation()</p>
                <p><strong>Описание: </strong><br/>@Html.Raw(Model.Description)</p>
            </div>
        </div>
    </div>
</section>

@functions{

    private string GetPhoneNumber()
    {
        string phone = "Не указан";
        for (int i = 0; i < Model.CustomFields.Count; i++)
        {
            if (Model.CustomFields[i].Name.Equals("Телефон для связи"))
            {
                phone = Model.CustomFields[i].Values[0].Info;
                break;
            }
        }
        return phone;
    }
}


@functions {

    private string GetLocation()
    {
        string location = "Не указано";
        for (int i = 0; i < Model.CustomFields.Count; i++)
        {
            if (Model.CustomFields[i].Name.Equals("Местонахождение"))
            {
                location = Model.CustomFields[i].Values[0].Info;
                break;
            }
        }
        return location;
    }
}
